aclocal.m4
bin/
config.h
config.h.in
config.log
config.mk
config.status
configure
src/configuration.tab.c
src/configuration.tab.h
src/configuration.tab.po
src/configuration.yy.c
src/configuration.yy.po
src/configuration_api.po
src/configuration_dump.po
src/modules/module_cleanup.po
src/modules/module_fetchmail.po
src/modules/module_sendmail.po
src/openchangesim.po
src/openchangesim_fork.po
src/openchangesim_interface.po
src/openchangesim_logs.po
src/openchangesim_modules.po
src/openchangesim_public.po
src/version.h
stamp-h1
